# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:\project workspace\cms-subject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/cms-subject.iml
/misc.xml
/modules.xml
/vcs.xml
/workspace.xml
/.idea/
