<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.dao.QueryStaffDao">

    <select id="queryStaff" parameterType="com.cms.pojo.QueryStaffPojo"
            resultType="com.cms.pojo.QueryStaffReturn">
        SELECT t1.agent_code,
               t1.agent_name,
               t1.agent_grade,
               t1.agent_state,
               t1.employ_date,
               t1.out_work_date,
               t2.com_code,
               t2.yl_name     AS manage_com4,
               t3.agent_group,
               t3.branch_attr,
               t3.branch_name,
               t4.grade_name,
               (SELECT code_name
                FROM ld_code
                WHERE t1.agent_state=ld_code.code
                  AND ld_code.code_type='agentstate') AS stateName,
               (SELECT yl_name
                FROM ld_com_new
                WHERE ld_com_new.yl = 'Y'
                  AND com_code = (SELECT LEFT(t2.com_code, 6))) AS manage_com3,
                (SELECT yl_name
                FROM ld_com_new
                WHERE ld_com_new.yl='Y'
                  AND com_code=(SELECT LEFT (t2.com_code, 4))) AS manage_com2
        FROM yl_la_agent AS t1
            JOIN ld_com_new AS t2
        ON t1.manage_com=t2.com_code
            JOIN yl_la_branch_group AS t3 ON t1.agent_group=t3.agent_group
            JOIN la_agent_grade AS t4 ON t1.agent_grade=t4.grade_code
            ${ew.customSqlSegment}


    </select>

</mapper>
