<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.dao.YlLaAgentDao">

    <select id="queryInfo" parameterType="String"
            resultType="com.cms.pojo.QueryWithCodeReturn">
        SELECT t1.agent_code,t1.sap_code,t1.agent_name,
               t2.id_type,t2.id_no,t2.birthday,t2.sex,t2.rgt_type,t2.reg_address as rgtProvince,t2.highest_degree,
               t2.first_degree,t2.degree,t2.graduate_school,t2.major,t2.nationality,t2.nativeplace,
               t2.old_industry_type,t2.old_occupation,t2.old_com,t2.old_job_duty,t2.work_age,
               t2.address as homeAddress,t2.postcode,t2.homephone,t2.phone,t2.email,t2.outlook_status,
               t2.bank_code,t2.bank_account,t2.unite_bank_num,t2.bank_province,t2.bank_city,t2.certificate_no,
               t1.agent_job,t1.agent_grade,
               t3.branch_attr,t3.branch_manager,t3.branch_manager_name,
               t2.contract_type,t2.contract_start_date,t2.contract_end_date,
               t1.employ_date,t1.operator,
               t4.grade_name as agentGradeName,
               t3.branch_name,
               t1.out_work_date,t1.agent_state,t1.repeat_flag,
               (SELECT yl_name FROM ld_com_new WHERE ld_com_new.yl='Y' and com_code=t1.manage_com) as manageCom4,
               (SELECT up_com_code FROM ld_com_new WHERE ld_com_new.yl='Y' and com_code=t1.manage_com) as comCode3,
               (SELECT yl_name FROM ld_com_new WHERE ld_com_new.yl='Y' and com_code=comCode3) as manageCom3,
               (SELECT up_com_code FROM ld_com_new WHERE ld_com_new.yl='Y' and com_code=comCode3) as comCode2,
               (SELECT yl_name FROM ld_com_new WHERE ld_com_new.yl='Y' and com_code=comCode2) as manageCom2
        FROM yl_la_agent AS t1
                 JOIN yl_la_agent_attr AS t2 ON t1.agent_code=t2.agent_code
                 JOIN yl_la_branch_group AS t3 ON t1.agent_group=t3.agent_group
                 JOIN la_agent_grade AS t4 ON t1.agent_grade=t4.grade_code
            ${ew.customSqlSegment}
    </select>

</mapper>
