<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cms.dao.YlLaAgentCertificateDao">

    <select id="getCertificateInfo" parameterType="com.cms.pojo.RetrieveCertificatePojo"
            resultType="com.cms.pojo.RetrieveCertificatePojo">
        SELECT yla.agent_code                                                      as agentCode,
               yla.agent_name                                                      as agentName,
               yla.manage_com                                                      as manageCom4,
               ylbg.branch_attr                                                    as branchAttr,
               ylbg.branch_name                                                    as branchName,
               lcn.yl_name                                                         as manageComName4,
               ylc.certificate_no                                                  as certificateNo,
               ylc.certificate_name                                                as certificateCode,
               ylc.start_effective_date                                            as startEffectiveDate,
               ylc.end_effective_date                                              as endEffectiveDate,
               ylc.release_date                                                    as releaseDate,
               ylc.reissue_date                                                    as reissueDate,
               ylc.approver                                                        as approveBy,
               (SELECT up_com_code FROM ld_com_new WHERE com_code = manageCom4)    as manageCom3,
               (SELECT up_up_com_code FROM ld_com_new WHERE com_code = manageCom4) as manageCom2,
               (SELECT name FROM ld_com_new WHERE com_code = manageCom3)           as manageComName3,
               (SELECT name FROM ld_com_new WHERE com_code = manageCom2)           AS manageComName2
        FROM yl_la_agent_certificate ylc
                 Left JOIN yl_la_agent yla
                           on ylc.agent_code = yla.agent_code
                 Left JOIN ld_com_new lcn on yla.manage_com = lcn.com_code
                 Left JOIN yl_la_branch_group ylbg
                           on yla.agent_group = ylbg.agent_group
            ${ew.customSqlSegment}
    </select>


</mapper>